<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalised Recommandation </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
<!-- Menu -->

<div>

    <ul id="mainmenu">
        <li class="left"><img src="../Images/shack.png" alt="Shack" class="menu_image"></li>
        <li class="left"><a href="../General.html">Info</a></li>
        <li class="left"><a href="../Map_world.html">Map</a></li>
        <li class="right"><a id="logoutLink"  href="#">LOG OUT</a></li>
  
  
        <!-- Dropdown -->
        <div class="dropdown">
          <li class="left"><button class="dropbtn"> Souvenirs </button></li>
  
  
          <div class="dropdown-content">
  
            <li><a href="../Souvenir.html">Souvenirs general info </a></li>
            <li><a href="Souvenir_personalised.html">Personal recommandation</a></li>
            <li><a href="Souvenir_general.html">General recommandation</a></li>
            <li><a href="../Map_shops.html">Souvenir Shops</a></li>
  
          </div>
  
        </div>
  
      </ul>
</div>

<!-- Search bar to filter country,period of time -->
<div class="container_search_bar">
    <form class="search-bar">
    <input type="text" id="searchInput" name="search" placeholder="Search.." > 
    <button type="submit" id="searchButton"><img src="../Images/search.png" alt="search_image"></button>
</form>
</div>
<!-- List with recommended souvenirs, country/period of time ( depending of data base and preferences from MAP) -->

<!-- Will contain different categories (country and date/ country) -->

<!-- Each sovenir can be clicked and will open a new HTML with iamge an info about souvenir (HTML will be saved in folder List_souvenirs) -->
<div class="souvenir" id="data-container"></div>
<!--Categorii de varsta: 0-14, 15-25, 26-60, 60+-->
<!-- <div class="souvenir">
  <h1>Albania</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
          <th>Age</th>
      </tr>
      <tr>
          <td>Cifteli</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>15-25 <br> 26-60<br>60+</td>
        </tr>
  </table>


  <h1>France</h1>
      <table> 
        <tr>
          <th>Souvenir</th>
          <th>Period</th>
          <th>Gender</th>
          <th>Age</th>
        </tr>
          <tr>
              <td>Eiffel Tour miniature</td>
              <td>All the time</td>
              <td>Male/Female</td>
              <td>15-25 <br> 26-60<br>60+</td>
            </tr>
            <tr>
              <td>Perfume from grasse</td>
              <td>All the time</td>
              <td>Male/Female</td>
              <td>15-25 <br> 26-60<br>60+</td>
            </tr>
      </table>

  <h1>Germany</h1>
     
      <table> 
        <tr>
          <th>Souvenir</th>
          <th>Period</th>
          <th>Gender</th>
          <th>Age</th>
        </tr>
          <tr>
              <td>Beer Steins</td>
              <td>All the time</td>
              <td>Male/Female</td>
              <td>26-60<br>60+</td>
            </tr>
            <tr>
              <td>Cuckoo Clock</td>
              <td>All the time</td>
              <td>Male/Female</td>
              <td>15-25<br> 26-60<br>60+</td>
            </tr>
            <tr>
              <td>German Räucherfrauen</td>
              <td>December</td>
              <td>Male/Female</td>
              <td>0-14</td>
            </tr>
            <tr>
              <td>Gluhwein Mugs</td>
              <td>December</td>
              <td>Male/Female</td>
              <td>0-14<br>15-25<br> 26-60<br>60+</td>
            </tr>
      </table>



  <h1>Italy</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>Confetti murano glass</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60<br>60+</td>
        </tr>
        <tr>
          <td>Venetian mask</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>15-25<br> 26-60</td>
        </tr>
  </table>

  <h1>Netherlands</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>Ceramics</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60<br>60+</td>
        </tr>
        <tr>
          <td>Nautical Decorative Oil Lamps</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60<br>60+</td>
        </tr>
  </table>


  <h1>Poland</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>Ptasie Mleczko</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>0-15</td>
        </tr>
        <tr>
          <td>Wiśniówka</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>26-60<br>60+</td>
        </tr>
  </table>


  <h1>Romania</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>Handmade table cloth</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60<br>60+</td>
        </tr>
        <tr>
          <td>Ie</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>0-14<br>15-25<br>26-60<br>60+</td>
        </tr>
        <tr>
          <td>Trinket</td>
          <td>February - March</td>
          <td>Male/Female</td>
          <td>0-14<br>15-25<br>26-60<br>60+</td>
          
        </tr>
        <tr>
          <td>Poached egg</td>
          <td>April</td>
          <td>Male/Female</td>
          <td>0-14<br>15-25<br>26-60<br>60+</td>
        </tr>
  </table>

  <h1>Russia</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>Dymkovo Toys</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>0-14</td>
        </tr>
        <tr>
          <td>Matryoshka</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>26-60<br>60+</td>
        </tr>
        <tr>
          <td>Orenburg Shawls</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60</td>
        </tr>
        <tr>
          <td>Samovar</td>
          <td>All the time</td>
          <td>Female</td>
          <td>60+</td>
        </tr>
  </table>

  <h1>Spain</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>Artwork</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>26-60<br>60+</td>
        </tr>
        <tr>
          <td>Flamenco Dress</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60<br>60+</td>          
        </tr>
        <tr>
          <td>Sherry</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>26-60<br>60+</td>
        </tr>
  </table>


  <h1>Ukraine</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
        <tr>
          <td>Motanky (Rag Dolls)</td>
          <td>All the time</td>
          <td>Male/Female</td>
          <td>0-14</td>
        </tr>  
  </table>


  <h1>United Kingdom</h1>
  <table> 
    <tr>
      <th>Souvenir</th>
      <th>Period</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
      <tr>
          <td>English tea</td>
          <td>All the time</td>
          <td>Female</td>
          <td>26-60<br>60+</td>
          
        </tr>
        <tr>
          <td>Tower Bridge Cufflinks</td>
          <td>All the time</td>
          <td>Male</td>
          <td>26-60<br>60+</td>
        </tr>  
  </table>
 
</div>-->
<script src="../API/personalised.js"></script>
<script src="../API/session.js"></script>
</body>
</html>