<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>General Description</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- Menu -->

  <div>

    <ul id="mainmenu">
      <li class="left"><img src="Images/shack.png" alt="Shack" class="menu_image"></li>
      <li class="left"><a href="General.html">Info</a></li>
      <li class="left"><a href="Map_world.html">Map</a></li>
      <!-- <li class="left"><a href="Souvenir.html">Souvenirs</a></li>  -->
      <li class="right"><a id="logoutLink"  href="#">LOG OUT</a></li>


      <!-- Dropdown -->
      <div class="dropdown">
        <li class="left"><button class="dropbtn"> Souvenirs </button></li>


        <div class="dropdown-content">

          <li><a href="Souvenir.html">Souvenirs general info </a></li>
          <li><a href="Souvenir/Souvenir_personalised.html">Personal recommandation</a></li>
          <li><a href="Souvenir/Souvenir_general.html">General recommandation</a></li>
          <li><a href="Map_shops.html">Souvenir Shops</a></li>

        </div>

      </div>

    </ul>

  </div>
  
  <!-- Content -->
  <div class="container_centered">
    <h6>Souvenir Shack</h6>
    <h5>Discovering Unique Treasures from Around the World</h5>
    <p>
      Hello, and welcome to Souvenir Shack! If you're looking for the perfect souvenir or gift you've come to the right
      place.
      Our website offers a wide range of souvenirs from all over the world, so you're sure to find something that fits
      your taste and budget.

    </p>

    <img src="Images/map_boat.png" alt="map_boat_picture">
 
    <p>Whether you're looking for a gift for a loved one or a memento for yourself, we got you covered.
      Our website is user-friendly and easy to navigate, so you can find exactly what you're looking for in just a few
      clicks.
      We offer you an wide list of souvenirs and an interactive map in order to find what suits you and the ones you
      love the best.
    </p>
    
    <img src="Images/souvenir_table.jpg" alt="souvenir_table_picture">

    <i>Take a piece of your adventure with you, souvenirs that bring your memories to life!</i>

  </div>



  <!-- General description of the website -->


  <!-- (optional) Who developed the site -->

  <script src="API/session.js"></script>

</body>

</html>