<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Souvenir Shack</title>
  <link rel="stylesheet" href="style_logins.css">

</head>

<body>

  <!-- Menu -->

  <div class="box_menu">

    <!-- Description of site (left side) -->
    <div class="left">
      <div class="overlay">
        <h1>Souvenir Shack</h1>
        <p>Surprise your friends and family with a gift that's one of a kind, find what you desire on our website.</p>

      </div>
    </div>

    <!-- Login Menu (right side) -->
    <div class="right">

      <!-- Don't have account option-->
      <h5>Sign in</h5>
      <p>You don't have an account? <a href="Sign_up.html">Create Your Account</a> and start searching for souvenirs.
      </p>
      
      <p> <a href="PasswordReset.html">Forgot password?</a> </p>
      <!-- action="General.html" method="POST"-->
      <form  class="login_form" id="loginForm"> 

      <!-- Inputs Menu -->
      <div class="inputs">
        <input type="text" placeholder="Enter Username" name="username" id="username">
        <br>
        <input type="password" placeholder="Enter Password" name="password" id="password">
      </div>

      <br>

      <!-- Remember me option-->
      <div>
        <label >
          <input type="checkbox" id="rememberCheckbox"  name="remembered" >         
          <span class="text-checkbox"> Remember me</span>
    
        </label>
 
     
       <br>
      </div>
      

      <!-- Login button -->
      <!-- <form action="General.html" method="POST"> -->
      <br><button type="submit"> Login </button>
      </form>

      <p id="errorMessage" class="error" ></p>

    </div>

  </div>


  <!-- If succesfully signed up then autodirect to General page, else error -->

  <!-- (optional) To add : LOGO, edit scrollbar   -->

  <script src="API/login.js"></script>

</body>

</html>