<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map of The World</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Menu -->

  <div>

    <ul id="mainmenu">
      <li class="left"><img src="Images/shack.png" alt="Shack" class="menu_image"></li>
      <li class="left"><a href="General.html">Info</a></li>
      <li class="left"><a href="Map_world.html">Map</a></li>
      <li class="right"><a id="logoutLink"  href="#">LOG OUT</a></li>

      <!-- Dropdown -->
      <div class="dropdown">
        <li class="left"><button class="dropbtn"> Souvenirs </button></li>


        <div class="dropdown-content">

          <li><a href="Souvenir.html">Souvenirs general info </a></li>
          <li><a href="Souvenir/Souvenir_personalised.html">Personal recommandation</a></li>
          <li><a href="Souvenir/Souvenir_general.html">General recommandation</a></li>
          <li><a href="Map_shops.html">Souvenir Shops</a></li>

        </div>

      </div>

    </ul>

  </div>
  <br><br>

  <!-- Number of countries selected -->
  <div class="show_countries">
    <p>You have been to <span id="visitedCountries">0</span> out of 196 Countries</p>
  </div>

  <!-- Map of the world -->
  <div class="world_map" >

    <div id="map"></div>   

  </div>

  <!-- Name of the country hovered will be here -->
  <div class="show_countries">
    <p id="pathNameDisplay"></p>
    <p id="errorMessage" class="error" ></p>
  </div>

  <!-- Bar to add new countries visited and the date when it was visited (add in data base as well) -->
  
  <div class="container_search_bar">
    <form class="search-bar">
      <input type="text" name="search" id="searchInput" placeholder="Search Country">
      <button type="submit" id="Add"><img src="Images/add.png" alt="search_image_add"></button>
      <button type="submit" id="Remove"><img src="Images/remove.png" alt="search_image_remove"></button>
     
    </form>
   
    <!-- <p id="errorMessage" class="error" ></p> -->
  </div>
 



  <!-- List with all added countries and the option to delete  -->

  <script src="API/svgmap.js"></script>
  <script src="API/managecountry.js"></script>
  <script src="API/session.js"></script>
</body>

</html>