<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Souvenir Shops</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</head>

<body>
  <!-- Menu -->

  <div>

    <ul id="mainmenu">
      <li class="left"><img src="Images/shack.png" alt="Shack" class="menu_image"></li>
      <li class="left"><a href="General.html">Info</a></li>
      <li class="left"><a href="Map_world.html">Map</a></li>
      <li class="right"><a id="logoutLink" href="#">LOG OUT</a></li>

  
      <div class="dropdown">
        <li class="left"><button class="dropbtn"> Souvenirs </button></li>


        <div class="dropdown-content">

          <li><a href="Souvenir.html">Souvenirs general info </a></li>
          <li><a href="Souvenir/Souvenir_personalised.html">Personal recommandation</a></li>
          <li><a href="Souvenir/Souvenir_general.html">General recommandation</a></li>
          <li><a href="Map_shops.html">Souvenir Shops</a></li>

        </div>

      </div>

    </ul>

  </div>


  <div id="map"></div> 



  <script src="API/shopsmap.js"></script>
  <script src="API/session.js"></script>
</body>

</html>