<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="style_logins.css">
</head>

<body>

  <!-- Sign up -->


  <div class="box_menu_2">


    <!-- Sign up Menu -->

    <div class="container">


      <h4>Reset password</h4>

      <p>You will need to wait for the admins to verify your request </p>

      
      <form  class="signup_form" id="resetForm"> 
        
      <div class="inputs">
        <input type="text" placeholder="Enter Username" name="username">
        <br>
        <input type="password" placeholder="Enter New Password" name="password">
        <br>
        <input type="password" placeholder="Confirm New Password" name="confirm_password">
      </div>

      <br> <br> <button type="submit"> Reset </button>
      </form>
    
      <p id="errorMessage" class="error" ></p> 
      

    </div> 


    <div class="container_2">
      <img src="Images/Logo.png" alt="The Logo" class="center_image">


    </div>

  </div>

  <script src="API/passwordreset.js"></script>

</body>

</html>