<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Souvenir Recommandation Info </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- Menu -->

  <div>

    <ul id="mainmenu">
      <li class="left"><img src="Images/shack.png" alt="Shack" class="menu_image"></li>
      <li class="left"><a href="General.html">Info</a></li>
      <li class="left"><a href="Map_world.html">Map</a></li>
      <!-- <li class="left"><a href="Souvenir.html">Souvenirs</a></li>  -->
      <li class="right"><a id="logoutLink"  href="#">LOG OUT</a></li>


      <!-- Dropdown -->
      <div class="dropdown">
        <li class="left"><button class="dropbtn"> Souvenirs </button></li>


        <div class="dropdown-content">

          <li><a href="Souvenir.html">Souvenirs general info </a></li>
          <li><a href="Souvenir/Souvenir_personalised.html">Personal recommandation</a></li>
          <li><a href="Souvenir/Souvenir_general.html">General recommandation</a></li>
          <li><a href="Map_shops.html">Souvenir Shops</a></li>

        </div>

      </div>

      
    </ul>
    <div class="container_centered">
      <h6>Personal Recommendation</h6>
      <p>
        If you have a loved one to whom you want to give something uniquely specific 
        to a country you have visited or are thinking of visiting, we can help you find
        the most original souvenirs for that person. Here we have a division of 
        souvenirs into several categories and a search bar to ease your experience in 
        finding the right gift.
  
      </p>
      <img src="Images/souvenir.jpg" alt="map_boat_picture">
        <h6>General Recommendation</h6>
      <p>
        If you want to learn more about a country, the souvenirs it has can be a 
        good start learning more about its past and its traditions. This page 
        contains a multitude of souvenirs specific to each country from which you 
        can choose both for yourself and for your close ones.
      </p>
        
    </div>
  </div>




  <!-- Description of what souvenir_general and souvenir_personalised recommend -->


  <!-- (optional) section or another HTML where each user can recommend new souvenirs or make a comment (it will be shown his name and the country)-->
  <script src="API/session.js"></script>
</body>

</html>