html,
div,
img {
  padding: 0;
  margin: 0;
  background-clip: padding-box;
  padding-bottom: 0px;
  padding-top: 0px;
  overflow: auto;
}

body {
  background-image: linear-gradient(123deg, rgb(178, 255, 213) 15%, rgb(9, 85, 228) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Serif";

}

 button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    transition: 0.4s;
  }  

  
/* Home page */

.box_menu {
  margin: 3% auto;
  width:82%;
  height: 950px;
  max-height: 70%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 23px 7px  rgba(38, 10, 75, 0.295);

}

/* left side */

.box_menu .left {
  color: white;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("Images/evantai.jpg");
}

.box_menu .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgba(31, 131, 126, 0.603);
  overflow: hidden;
  box-sizing: border-box;
}

.box_menu .left .overlay h1 {
  font-size: 10vmax;
  font-weight: 1000;
  margin: 30px 20px; 
  line-height: 1; 
  text-shadow:2px 2px 2px black;
  
}

.box_menu .left .overlay p {
  font-size: 40px;
  font-weight: 500;
  margin: 30px 20px; 
  line-height: 1; 
  text-shadow:1px 1px 1px black;
}


/* right side */

.box_menu .right {
  padding: 38px;
  overflow: hidden;
}

.box_menu .right h5 {
  font-size: 6vmax;
  line-height: 1;
  color: black;
}

.box_menu .right p {
  font-size: 17px;
  color: black;
}

.box_menu .right i {
  font-weight: 800;
  color: black;
}


.box_menu .right input {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  margin-left: -8px;
  font-size: 17px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(75, 9, 228);
} 

.box_menu .right .inputs {
  overflow: hidden;
} 


.box_menu .right button {
  color: white;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px rgba(38, 10, 75, 0.295);
  background-image: linear-gradient(123deg, rgb(240, 178, 255) 15%, rgb(75, 9, 228) 100%);
}


/* Checkbox - remember me*/

  /* label {
  display: block;
  position: relative;
  margin-left: 30px;
  width:35%;
}

label::before {
  
  content: '\2713';
  position: absolute;
  font-family: "Serif";
  font-size: 16px;
  height: 20px;
  border: 3px solid rgb(75, 9, 228);
  border-radius: 2px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

 label:hover::before {
  font-family: "Serif";
  content: '\2713';
  color: white;
  cursor: pointer;
  background: rgb(75, 9, 228)
} 


  label input[type="checkbox"] {
  display:none;
} 

 label span.text-checkbox {
  font-size:20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}     */

label {
  display: block;
  position: relative;
  margin-left: 30px;
  width: 80%;
  
  
}

label::before {
  
  content: '\2713';
  position: absolute;
  font-family: "Serif";
  font-size: 16px;
  height: 20px;
  border: 3px solid rgb(75, 9, 228);
  border-radius: 2px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before,
label input[type="checkbox"]:checked + span.text-checkbox::before {
  font-family: "Serif";
  content: '\2713';
  color: white;
  cursor: pointer;
  background: rgb(75, 9, 228);
  
}

label input[type="checkbox"] {
  display: none;
  
  
}

label span.text-checkbox {
  font-size: 21px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  
}

label span.text-checkbox::before {
  
  position: absolute;
  width: 15px;
  height: 22px;
  line-height: 20px;
  left: -29px;
  top:3px;
 
}

/* left: -24%; */



/* Sign up page */

.box_menu_2 {
  margin: 6% auto;
  width: 60%;
  height: 800px;
  max-height: 70%;
  max-width: 70%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 50%; 
  align-items: stretch;
  justify-content:space-between;
  box-shadow: 0 0 23px 7px  rgba(38, 10, 75, 0.295);

}

.box_menu_2 .container{
  padding: 38px;
  overflow: hidden;

}

.box_menu_2 .container h5 {
  font-size: 5vmax;
  line-height: 1;
  color: black;
  margin-bottom: 20%;

}

.box_menu_2 .container h4 {
  font-size: 4vmax;
  line-height: 1;
  color: black;
  margin-bottom: 20%;

}

.box_menu_2 .container p {
  font-size: 20px;
  color: black;
}


.box_menu_2 .container input {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  margin-left: -8px;
  font-size: 17px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(75, 9, 228);
} 

.box_menu_2 .container .inputs {
  overflow: hidden;
} 


.box_menu_2 .container button {
  color: white;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px rgba(38, 10, 75, 0.295);
  background-image: linear-gradient(123deg, rgb(240, 178, 255) 15%, rgb(75, 9, 228) 100%);
}

/* Logo on sign up page */

.box_menu_2 .container_2{
  padding:20px;
  align-self: center;
  overflow: hidden;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.box_menu .right .error {
  color: red;
  font-size: 24px;
  font-weight: 600;

}

.box_menu_2 .container .error{
  color: red;
  font-size: 24px;
  font-weight: 600;

}


